@layer base {
	.widget {
		.widget-content {
			padding: 0 1rem 1rem;
		}
		.widget-toolbar .v-card-title {
			font-weight: 600;
		}
	}

	div.widget {
		border: 1px solid #e4e7ed;
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 5px 1px rgba(49, 53, 72, 0.1);
		box-shadow: 0 2px 5px 1px rgba(49, 53, 72, 0.1);
		margin-bottom: 1.3rem;
	}

	.widget-borderless {
		border: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		margin-bottom: 0 !important;
	}

	/* API TABLE*/

	.apiTable {
		font-family: Roboto, Montserrat, 'Public Sans', 'Helvetica Neue', sans-serif;
		.apiTable-header > th {
			font-size: 0.875rem;
			font-weight: 600 !important;
			line-height: 1.5;
			letter-spacing: 0;
			text-transform: none;
			color: var(--el-text-color-regular) !important;
		}
		tbody tr td {
			font-size: 0.815rem;
			font-weight: 400;
			line-height: 1.5;
			letter-spacing: 0;
			text-transform: none;
			color: var(--el-text-color-regular);
		}
		tbody tr:nth-child(odd) {
			background: rgba(var(--v-border-color), 0.07) !important;
		}
		tbody tr:hover {
			background: rgba(var(--v-border-color), 0.2) !important;
		}
	}

	/* API CARD */
	.apiCard {
		.apiCard-text {
			font-family: Roboto, Montserrat, 'Public Sans', 'Helvetica Neue', sans-serif;
		}
		.apiCard-value {
			font-size: 2rem;
			font-weight: 700;
			line-height: 1.7rem;
			letter-spacing: 0em;
			text-transform: none;
		}
		.apiCard-subtitle {
			font-size: 0.75rem;
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: 0;
			text-transform: uppercase;
		}
		.apiCard-footer {
			font-size: 0.75rem;
			font-weight: 600;
			line-height: 1.5;
			letter-spacing: 0;
			text-transform: none;
		}
	}

	/* NAVIGATOR COLORS */
	.navigator-default {
		background-color: rgb(0, 122, 255);
		border-color: rgb(0, 122, 255);
		background: linear-gradient(118deg, rgba(0, 122, 255, 1), rgba(0, 122, 255, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #004fcb;
			border-color: #004fcb;
			color: #ffffff;
		}
	}

	.navigator-red {
		background-color: rgb(255, 59, 48);
		border-color: rgb(255, 59, 48);
		background: linear-gradient(118deg, rgba(255, 59, 48, 1), rgba(255, 59, 48, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #c30005;
			border-color: #c30005;
			color: #ffffff;
		}
	}

	.navigator-yellow {
		background-color: rgb(255, 204, 0);
		border-color: rgb(255, 204, 0);
		background: linear-gradient(118deg, rgba(255, 204, 0, 1), rgba(255, 204, 0, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #c79c00;
			border-color: #c79c00;
			color: #ffffff;
		}
	}

	.navigator-orange {
		background-color: rgb(255, 149, 0);
		border-color: rgb(255, 149, 0);
		background: linear-gradient(118deg, rgba(255, 149, 0, 1), rgba(255, 149, 0, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #c66600;
			border-color: #c66600;
			color: #ffffff;
		}
	}

	.navigator-green {
		background-color: rgb(52, 199, 89);
		border-color: rgb(52, 199, 89);
		background: linear-gradient(118deg, rgba(52, 199, 89, 1), rgba(52, 199, 89, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #00952b;
			border-color: #00952b;
			color: #ffffff;
		}
	}

	.navigator-blue {
		background-color: #007aff;
		border-color: #007aff;
		background: linear-gradient(118deg, rgba(0, 122, 255, 1), rgba(0, 122, 255, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #004fcb;
			border-color: #004fcb;
			color: #ffffff;
		}
	}

	.navigator-purple {
		background-color: rgb(175, 82, 222);
		border-color: rgb(175, 82, 222);
		background: linear-gradient(118deg, rgba(175, 82, 222, 1), rgba(175, 82, 222, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #7c1eab;
			border-color: #7c1eab;
			color: #ffffff;
		}
	}

	.navigator-indigo {
		background-color: rgb(88, 86, 214);
		border-color: rgb(88, 86, 214);
		background: linear-gradient(118deg, rgba(88, 86, 214, 1), rgba(88, 86, 214, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #102da4;
			border-color: #102da4;
			color: #ffffff;
		}
	}

	.navigator-sky-blue {
		background-color: rgb(90, 200, 250);
		border-color: rgb(90, 200, 250);
		background: linear-gradient(118deg, rgba(90, 200, 250, 1), rgba(90, 200, 250, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #0097c7;
			border-color: #0097c7;
			color: #ffffff;
		}
	}

	.navigator-teal {
		background-color: rgb(0, 179, 172);
		border-color: rgb(0, 179, 172);
		background: linear-gradient(118deg, rgba(0, 179, 172, 1), rgba(0, 179, 172, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #009c91;
			border-color: #009c91;
			color: #ffffff;
		}
	}

	.navigator-grey {
		background-color: rgb(142, 142, 147);
		border-color: rgb(142, 142, 147);
		background: linear-gradient(
			118deg,
			rgba(142, 142, 147, 1),
			rgba(142, 142, 147, 0.7)
		) !important;
		color: #ffffff;
		&:hover {
			background-color: #8e8e93;
			border-color: #8e8e93;
			color: #ffffff;
		}
	}

	.navigator-pink {
		background-color: rgb(255, 45, 85);
		border-color: rgb(255, 45, 85);
		background: linear-gradient(118deg, rgba(255, 45, 85, 1), rgba(255, 45, 85, 0.7)) !important;
		color: #ffffff;
		&:hover {
			background-color: #c4002d;
			border-color: #c4002d;
			color: #ffffff;
		}
	}
}
