.grid-container {
  opacity: 0.9;
  width: 100%;
}

.grid-item {
  display: grid;
  width: 100%;
  height: 100%;
  transition: width 4s, height 4s;
  transition: transform 4s, opacity 4s;
}

.grid-item-active {
  opacity: 0.1;
}

/* tailwind classes */
.bg-red-500 {
  background-color: rgba(202, 33, 33, 1);
}

.rounded {
  border-radius: 0.25rem;
}